* {
  -fx-font-family: "Segoe UI";
}

.root {
  -accent-color: #7727d4; /* The main color for specific components. */
  -accent-hover-color: derive(-accent-color, -15%);
  -accent-pressed-color: derive(-accent-color, -25%);
  -selected-color: #AB82FF;

  -background-color: #333333; /* Used for the background of panes. */
  -background-hover-color: derive(-background-color, 15%);
  -background-pressed-color: derive(-background-color, 25%);

  -background-secondary: #383838;

  -text-color: white; /* Used for text that is directly placed on something that uses the background color. */
  -component-text-color: white; /* Used for text contained in a component (which used the accent color). */
}

/* Pane isn't used by JavaFX by default, it must be set to pane classes manually. */
.pane {
  -fx-background-color: -background-color;
}

.scroll-bar {
  -fx-background-color: derive(-background-color, 10%);
}

.scroll-bar .thumb {
  -fx-background-color: -accent-color;
}

.scroll-pane {
  -fx-background-color: -background-color;
  -fx-text-fill: -text-color;
}

.scroll-pane .viewport {
  -fx-background-color: -background-color;
}

.button {
  -fx-background-color: -accent-color;
  -fx-font-size: 12pt;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 4, 0, 1, 1);
}

.button:hover {
  -fx-cursor: hand;
  -fx-background-color: -accent-hover-color;
}

.button:pressed {
  -fx-background-color: -accent-pressed-color;
}

.toggle-button {
  -fx-background-color: -accent-color;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 4, 0, 1, 1);
}

.toggle-button:hover {
  -fx-cursor: hand;
  -fx-background-color: -accent-hover-color;
}

.toggle-button:pressed {
  -fx-background-color: -accent-pressed-color;
}

.toggle-button:selected {
  -fx-background-color: -selected-color;
}

.tooltip {
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-border-color: -accent-color;
  -fx-padding: 2pt 2pt 2pt 2pt;
  -fx-border-radius: 2pt;
  -fx-font-size: 12pt;
}

.label {
  -fx-font-size: 12pt;
  -fx-font-weight: normal;
  -fx-text-fill: -text-color;
}

.menu-bar {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-font-size: 12pt;
  -fx-text-fill: -text-color;
}

.context-menu {
  -fx-background-color: -background-color;
  -fx-border-color: -background-pressed-color;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}

.menu {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: -text-color;
}

.menu:hover {
  -fx-cursor: hand;
  -fx-background-color: -background-hover-color;
}

.menu:pressed {
  -fx-background-color: -background-pressed-color;
}

.menu .label {
  -fx-text-fill: -text-color;
}

.menu-item {
  -fx-font-size: 12pt;
  -fx-background-color: -background-color;
  -fx-text-fill: -text-color;
  -fx-border-width: 1px 0px 1px 0px;
  -fx-border-color: -background-pressed-color;
}

.menu-item:hover {
  -fx-cursor: hand;
  -fx-background-color: -background-hover-color;
}

.menu-item:pressed {
  -fx-background-color: -background-pressed-color;
}

.menu-item:disabled {
  -fx-cursor: default;
  -fx-background-color: -background-color;
}

.infopane-item {
  -fx-border-width: 0px 2px 0px 0px;
  -fx-border-color: -background-pressed-color;
}

#layer-item {
  -fx-background-color: #4e4e4e;
  -fx-border-width: 3px 0px 0px 0px;
}

#layer-item:hover {
  -fx-cursor: OPEN_HAND;
}

#layer-item:pressed {
  -fx-cursor: CLOSED_HAND;
}

.color-picker {
  -fx-background-color: -background-color;
}

#info-pane {
  -fx-background-color: linear-gradient(-background-secondary, -background-color);
}

#toolbar-pane {
  -fx-background-color: linear-gradient(-background-secondary, -background-color);
}

.separator {
  -fx-background-color: transparent;
}

.separator:vertical .line {
  -fx-border-color: transparent transparent transparent transparent,
  transparent transparent transparent -text-color;
}

.text-field {
  -fx-background-color: transparent;
}

/* TODO: Set color to permanently white*/
.text-input {
  -fx-font-size: 12pt;
  -fx-font-weight: normal;
  /*-fx-text-fill: white !important;*/
}

#rename-box{
  -fx-background-color: rgba(0, 0, 0, 0.40);
}
